.about-Container{
    padding:5% 0% 0%;
    background-color: #ffffff;
}
.about-Header{
    text-align: center;
}
.about-Header>p{
    font-weight: 600;
    color: #543D4B;
    margin: 0% 15%;
    width: 70vw;
    text-align: center;
}
.about-Header>h1{
    color: #FB6F77;
    margin-top: 10%;
    text-align: center;
}
.our-Story{
    display: flex;
    gap: 5%;
    margin-top: 10%;
}
.our-Story>div{
    margin: 5%;
    width: 50vw;
}
.our-Story>div>h3{
    color: #FB6F77;
    font-size: 1em;
}
.our-Story>div>h1{
    color: #543D4B;
}
.our-Story>div>p{
    color: #FB6F6F;
    font-size: 1.1rem;
}
.about-values{
    display: flex;
    gap: 5%;
    padding: 5%;
    background-color: #543D4B;
}
.about-values>div{
    padding: 2%;
    background-color: white;
    width: 30vw;
}
.about-values>div>img{
    margin: 0% 20%;
    width: 15vw;
}
.about-values>div>h2{
    text-align: center;
}

.about-articles>div{
    display: flex;
    gap: 2%;
    margin: 5%;
}
.about-articles>h3{
    padding: 5% 0%;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.09rem;
    color: #F7D05A;
}
.about-articles{
    padding:5% ;
    background: linear-gradient(
        to bottom,
         #543D4B 0%,
         #543D4B 60%,
         #ffffff 60%,
         #ffffff 100%
    );
}
.article-white>div{
    padding: 2% 5%;
    background-color: white;
}
.article-color>div{
    color: white;
    padding: 2% 5%;
    background-color: #543D4B;
}
.about-Insights{
    text-align: center;
    padding: 5%;
    height: 80vh;
    background-color:#F7D05A ;
}
.about-Insights>h3{
    font-size: 1.2rem;
    color: #FB6F77;
}
.about-Insights>h1{
    color: #543D4B;
}
.about-Insights>div{
    height: 55vh;
    justify-content: center;
    display: flex;
    gap: 5%;
}
.about-Insights>div>div{
    border-radius: 0.2em;
    width: 60vw;
    padding-bottom: 2%;
    background-color: white;
    color: #543D4B;

}
.about-Insights>div>div>p{
    padding: 2% 5%;
    text-align: center;
    font-family: 'Raleway',sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 400;
}
.about-Insights>div>div>img{
    object-fit: contain;
    width: 30vw;
}
.about-ending{
    margin-top: -3%;
    height: 40vh;
    width: 100vw;
    background-image: url(/public/Images/vector\ banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
.about-ending>p{
    padding:5%;
    font-weight: bold;
    color: #ffffff;
    font-size: 1.5rem;
}
#end-1{
    width: 70vw;
    text-align: left;
    padding-top: 5%;
    padding-left: 2%;
    padding-bottom: 2%;
}
#end-2{
    width: 90vw;
    text-align: right;
    position: absolute;
    padding-top: 5%;

}
.Story-Image{
    background-image: url("/public/Images/Story.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.Carrer-Image{
    background-image: url("/public/Images/Story.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}
@media only screen and (min-width:600px){
    
}
@media only screen and (min-width:768px){

}
@media only screen and (min-width:992px){

}
@media only screen and (min-width:1200px){
    .about-Container{
        padding:1% 0% 0%;
    }
    .about-Header>p{
        text-align: center;
    }
    .our-Story{
        width: 70vw;
        gap: 2%;
        margin: 0% 18%;
        margin-top: 5%;
    }
    .our-Story>div{
        width: 100%;
    }
    .our-Story>div>h1{
        width: 70%;
    }
    .our-Story>div>p{
        width: 80%;
    }
    .Story-Image{
        width: 90%;
        height: 500px;
    }
    .about-values{
        justify-content: center;
    }
    .about-values>div{
        width: 15%;
    }
    .about-values>div>img{
        width: 8vw;
        justify-content: center;
    }
    .about-articles>div{
        display: flex;
        gap: 2%;
        margin: 0% 25%;
        margin-bottom: 2%;
    }
    .about-articles>h3{
        padding: 2% 0%;
        font-size: 32px;
    }
    .about-Insights>div{
        width: 90vw;
        margin-top:8%;
        margin-left: 0%;
        justify-content: center;
    }
    .about-Insights>div>div{
        width: 20vw;
        height: 50vh;
    }
    .about-Insights>div>div>img{
        width: 20vw;
    }
    .Carrer-Image{
        width: 90%;
        height: 500px;

    }
    .about-ending>p{
        padding: 10% 25%;
        width: 50%;
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 25px;
    }
}
@media only screen and (max-width:600px){
    .about-Header>h1{
        margin:15% 10% 2% ;
    }
    .about-Header>p{
        margin: 2% 10% 5%;
    }
    .our-Story{
        width: 100%;
        gap: 10%;
        margin: 0% 1%;
        margin-top: 5%;
    }
    .our-Story>div{
        width: 100%;
    }
    .our-Story>div>h1{
        width: 100%;
    }
    .our-Story>div>p{
        width: 90%;
        font-size: 15px;
    }
    .Carrer-Image>img{
        padding-top: 50%;
        padding-right: 25%;
    }
    .Story-Image>img{
        padding-top: 50%;
    }
    .about-Insights>div{
        width: 100%;
    }
    .about-Insights>div>div{
        padding-bottom: 1%;
    }
    .about-Insights>div>div>p{
        font-size: 15px;
    }
    .about-Insights>div>div>h2{
        font-size: 20px;
    }
    .about-values{
        justify-content: center;
    }
    .about-values>div{
        width: 100%;
        font-size: 15px;
    }
    .about-ending{
        height: 300px;
    }
    .about-ending>p{
        letter-spacing: 1px;
        font-size: 20px;
    }

}