.CU-Container{
    margin-bottom: 2px;
    color: white;
}
.CU-Header{
    padding: 10%;
    padding-bottom: 15%;
    background-color: #4D3D54;
}
.CU-Header>h2{
    color: #F7D05A ;
    margin: 2% 20%;
    font-size: 36px;
    width: 60%;
    font-weight: 350;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}.CU-Content{
    padding: 10% 2%;
    background-color: #ffffff;
}
.image-replacement-1{
    position: absolute;
    height: 500px;
    width: 60%;
    border-radius: 5px;
    top:30%;
    left: 20%;
    background-color: #F3F3F3;
}
.image-replacement-2{
    position: absolute;
    height: 500px;
    width: 30%;
    border-radius: 5px;
    top:50%;
    left: 10%;
    background-color: lightgray;
}
.CU-form{
    margin: 2% 15%;
    font-size: 20px;
    display: block;
    width: 70%;
}
.CU-form>form>input{
    font-family: 'Raleway', sans-serif;
    height: 50px;
    width: 700px;
    font-size: 18px;
    margin: 2% 0%;
    border: 2px solid #FB6F77 ;
}
.CU-form>form>div{
    width: 100%;
    display: flex;
    gap: 5%;
}
.CU-form>form>div>input{
    font-family: 'Raleway', sans-serif;
    height: 50px;
    width: 100%;
    font-size: 18px;
    margin: 2% 0%;
    border: 2px solid #FB6F77 ;
}
.CU-form>form>textarea{
    font-family: 'Raleway', sans-serif;
    height: 200px;
    width: 100%;
    margin: 2% 0%;
    font-size: 18px;
    border: 2px solid #FB6F77 ;
}
.CU-form >form>button{
    border-radius: 5px;
    border: 10px solid #FB6F77; 
    background-color: #FB6F77;
    color: white;
    font-size: 20px;
    margin-top: 5%;
}
.CU-para{
    padding-top: 60%;
    display: flex;
    gap: 3%;
    font-family: 'Raleway', sans-serif;
    color: #4D3D54;
}
.CU-para>h2{
    font-weight: 500;

}