.CU-Container{
    margin-bottom: 2px;
    color: white;
}
.CU-Header{
    padding: 10%;
    padding-bottom: 15%;
    background-color: #543D4B;
    background-image: url("/public/Images/header\ banner\ all\ desk.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.CU-Header>h2{
    color: #F7D05A ;
    text-align: center;
    font-size: 2.5rem;
    width: 80vw;
    font-weight: 350;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}.CU-Content{
    padding: 10% 2%;
    background-color: #ffffff;
}
.image-replacement-1{
    position: absolute;
    height: 50vh;
    width: 60vw;
    border-radius: 0.2em;
    margin-top: -20%;
    margin-left: 20%;
    background-color: #F3F3F3;
    background-image: url("/public/Images/contact\ landscape.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.image-replacement-2{
    position: absolute;
    height:50vh;
    width: 35vw;
    border-radius:0.2rem;
    margin-left: 10%;
    background-color: lightgray;
    background-image: url("/public/Images/portrait.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}
.CU-form{
    margin: 2% 12%;
    font-size: 1rem;
    display: block;
    width: 100vw;
}
.CU-form>form>input{
    font-family: 'Raleway', sans-serif;
    height: 5vh;
    width: 70vw;
    font-size: 1.2rem;
    margin-top: 2%;
    border: 0.15em solid #FB6F77 ;
}
.CU-form>form>div{
    width: 70vw;
    display: flex;
    gap: 5%;
}
.CU-form>form>div>input{
    font-family: 'Raleway', sans-serif;
    height: 5vh;
    width: 100vw;
    font-size: 1.2rem;
    margin: 2% 0%;
    border: 0.15em solid #FB6F77 ;
}
.CU-form>form>textarea{
    font-family: 'Raleway', sans-serif;
    height: 20vh;
    width: 70vw;
    margin: 2% 0%;
    font-size: 1.2rem;
    border: 0.15em solid #FB6F77 ;
}
.CU-form >form>button{
    border-radius: 0.2em;
    border: 0.5rem solid #FB6F77; 
    background-color: #FB6F77;
    color: white;
    font-size: 1.2rem;
    margin-top: 5%;
}
.CU-para{
    padding-top: 60%;
    display: flex;
    gap: 3%;
    font-family: 'Raleway', sans-serif;
    color: #543D4B;
}
.CU-para>h2{
    font-weight: 500;

}
@media only screen and (min-width:600px){
    
}
@media only screen and (min-width:768px){

}
@media only screen and (min-width:992px){

}
@media only screen and (min-width:1200px){
    .CU-Header{
        background-image: url("/public/Images/bannerheader\ all\ tab.jpg");
    
    }
    .image-replacement-1{
        height: 55vh;
        width: 35vw;
        margin-top: -10%;
        margin-left: 35%
    }
    .image-replacement-2{
        height: 60vh;
        width: 20vw;
        margin-left: 20%;
    }
    .CU-Content{
        padding-top: 0%;
        padding-bottom:2% ;
    }
    .CU-form{
        margin: 2% 25%;
        font-size: 1.5rem;
        width: 30%;
    }
    .CU-form>form>div>input{
        width: 23vw;
        
    }
    .CU-form>form>input{
        width: 50vw;

    }
    .CU-form>form>textarea{
        width: 50vw;
        height: 30vh;
    }
    .CU-form>form>button:hover{
        background-color: #543D4B;
        border-color: #543D4B;
        color: #FB6F77;
    }
    .CU-para{
        padding-top: 40%;
        margin: 0% 20%;
        width: 100vw;
        gap: 10%;
    }
}
@media only screen and (max-width:600px){
    .image-replacement-1{
        position: relative;
        height:30vh;
        margin: 0% 5%;
        width: 90vw;
    }
    .image-replacement-2{
        height: 50vh;
        width: 70%;
        top:75%;
        left: 1%
    }
    .CU-para{
        display: block;
        padding-top: 100%;
        margin: 0% 1%;
        max-width: 10vw;
    }
    .CU-para>h2{
        font-size: 1.2rem;
        margin-top: 10%;
        width: 50%;
    }
    .CU-form{
        margin: 2%;
        font-size: 20px;
        width: 90vw;
    }
    .CU-form>form>input{
        width: 90vw;
    }
    .CU-form>form>textarea{
        width: 90vw;
    }
    .CU-form>form>div{
        display: block;
        width:100vw;
    }
    .CU-form>form>div>input{
        width: 90vw;
    }
    .CU-Header{
        height: 300px;
    }
    .CU-Header>h2{
        color: #F7D05A ;
        margin: 20% 2%;
        font-size: 36px;
        width:100%;
        font-weight: 350;
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }
}
@media only screen and (max-width:480px){
    .image-replacement-1{
        margin: 0% 10%;
        width: 80vw;
    }
    .image-replacement-2{
        height: 30vh;
        width:50%;
        top:70%;
    }
    .CU-para{
        padding-top: 50%;
    }
}