.Footer-Container{
    
    width: 100%;
    padding: 10% 0% 3% 0% ;
    background-color: #543D4B;
    color: #ffffff;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.Footer-Container>hr{
    width: 50%;
}
.Footer-Tagline>h1{
    color: #F7D05A;
}
.Footer-Links{
    margin-top: 3%;
    margin-bottom: 8%;
    display: flex;
    gap: 4rem;
    justify-content: center;
}
.Link-block{
    display: block;
    align-items: center;
}
.Link-block>ul>h3{
    text-align: center;
}
.Link-block>ul>h2{
    text-align: center;
    margin-left: 1%;
}
.Link-block>ul>button{
    font-size: 15px;
    display: block;
    margin-top: 2%;
    border-radius: 10px;
    border: 10px solid white;
    background-color: white;
    color: #430082;
}
.Link-block>ul>li{
    margin:10% 0%;
    list-style: none;
}
.Footer-bottom-links{
    display: flex;
    gap: 1rem;
    list-style:none;
    margin-left: 26%;
    font-weight: 500;
}
.Footer-home-link{
    margin-left: 5%;
    text-decoration: none;
    color: white;
    font-weight:500 ;
    font-size: 25px;
}
.Footer-list{
    display: flex;
    gap: 15rem;
   
}
.Footer-list>h1{
    width: 15%;
    margin-top:0% ;
}
#number{
    margin-left: 20%;
    background-color: #BD2BE2;
    border-color: #BD2BE2;
    color: white;
    font-weight: bold;
}

#contact{
    font-weight: bold;
    margin-left :25%;
    margin-top: 5%;
}

/* hover */
.Link-block>ul>li:hover{
    color: #F7D05A;
}
.Footer-list>ul>li:hover{
    color: #F7D05A;
}
.Footer-home-link:hover{
    color: lightgray;
}
.Link-block>ul>h3:hover{
    color: #FB6F6F;
}
#contact:hover{
    background-color:#FB6F6F;
    border-color: #FB6F6F;
    color: white;
}
#number:hover{
    border-color: crimson;
    background-color: crimson;
    color: white;
}