.Footer-Container{
    width: 100%;
    padding: 10% 0% 0% 0% ;
    background-color: #543D4B;
    color: #ffffff;
    text-align: center;
    justify-content: center;
}

.Footer-Container>hr{
    width: 80%;
}
.Footer-Tagline>h1{
    color: #F7D05A;
}
.Footer-Links{
    margin-top: 3%;
    margin-bottom: 8%;
    display: flex;
    gap: 4rem;
    justify-content: center;
}
.Link-block{
    display: block;
    align-items: center;
}
.Link-block>ul>h3{
    text-align: center;
}
.Link-block>ul>h2{
    text-align: center;
}
.Link-block>ul>button{
    font-size: 15px;
    display: block;
    margin-top: 2%;
    border-radius: 10px;
    border: 10px solid white;
    background-color: white;
    color: #430082;
}
.Link-block>ul>li{
    margin:10% 0%;
    list-style: none;
}
.Footer-bottom-links{
    display: flex;
    gap: 1rem;
    list-style:none;
    font-weight: 500;
}
.Footer-list{
    display: flex;
    gap: 10rem;
   justify-content: center;
}
.Footer-list>h2{
    font-family: 'Raleway',sans-serif;
    font-weight: 350;
    width: 20%;
    font-size: 20px;
    margin-top:1% ;
    color: white;
}
#number{
    margin-left: 15%;
    background-color: #BD2BE2;
    border-color: #BD2BE2;
    color: white;
    font-weight: bold;
}

#contact{
    font-weight: bold;
    margin-left :22%;
    margin-top: 5%;
}

/* hover */
.Link-block>ul>li:hover{
    color: #F7D05A;
}
.Footer-list>ul>li:hover{
    color: #F7D05A;
}
.Link-block>ul>h3:hover{
    color: #FB6F6F;
}
#contact:hover{
    background-color:#FB6F6F;
    border-color: #FB6F6F;
    color: white;
}
#number:hover{
    border-color: crimson;
    background-color: crimson;
    color: white;
}
@media only screen and (min-width:1100px){
    .Footer-list{
        gap: 2rem;
        margin-left: 15%;

    }
    .Footer-list>h2{
        font-family: 'Raleway',sans-serif;
        font-weight: 200;
        font-size: 20px;
        width: 10%;
        margin-top:0% ;
    }
    .Footer-bottom-links{
        gap: 1rem;
        font-size: 15px;
        margin:1% 15% ;
        font-weight: 200;
    }
    .Footer-Container>hr{
        width: 50%;
    }
    
}
@media only screen and (max-width:600px){
    .Footer-Tagline>h1{
        font-size: 28px;
    }
    .Footer-Container{
        width: 100%;
        padding: 15% 0% 1% 0% ;

    }
    .Footer-Container>hr{
        width: 90%;
    }
    .Footer-bottom-links{
        gap: 0.5rem;
        font-size: 12px;
        margin-left: 0%;
        font-weight: 200;
    }
    .Link-block>ul>button{
        font-size: 13px;
    }
    .Footer-Links{
        font-size: 13px;
        gap: 1rem;
        justify-content: left;

    }
    .Footer-list{
        gap: r5em;
    }
    .Footer-list>h2{
        font-family: 'Raleway',sans-serif;
        font-weight: 200;
        font-size: 15px;
        width: 10%;
        margin-top:0% ;
    }
    
}