.Gallery-Container{
    background-color: #F7D05A;
    color: white;
    padding: 5% 5% 2%;
}

.Gallery-Head>button{
    border: 5px solid white;
    background-color: white;
    color: #6400C2;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
}
.Gallery-Head{
    color: #543D4B;
    text-align:  center;
}
.Gallery-Head>hr{
    border: 1px solid #FB6F6F;
    background-color:#FB6F6F;
    width: 12%;
}
.collage-index{
    color: #A9A5AA;
    justify-content: center;
    display: flex;
    gap: 10%;
}
.Gallery-Content{
    max-height:700px;
    border-radius: 5px;
    padding: 2% 5% ;
    background-color: white;
}
.collage-index>h3{
    letter-spacing: 0.5px;
}

.collage-index>h3:hover{
    color:#FB6F77 ;
}
.collage{
    overflow-y: scroll;   
}
.collage::-webkit-scrollbar{
    border-radius: 10px;
    width: 8px;
}

.collage::-webkit-scrollbar-thumb:hover{
    border-radius: 10px;
    background-color: #ececec;
}
.collage-row{
    max-height: 570px;
    padding: 5% 1%;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill,minmax(190px ,2fr));
    row-gap: 2rem;
}
.collage-row>img{
    object-fit:cover;
    width: 100%;
    height: 100%;
}
.collage-row>img:hover{
    opacity: 0.5;
}
@media only screen and (min-width:1100px){
    .Gallery-Content{
        margin: 0% 20%;
        width: 50%;
        max-height:750px;
        border-radius: 5px;
        padding: 2% 5% ;
        background-color: white;
    }
}
@media only screen and (max-width:320px){

}