.main-body{
    position: fixed;
    z-index:10;
}
.Home-bg{
    background-color: #543D4B;
    /* margin-top: 6%; */
    width: 100vw;
    height: 115vh;
    max-width: 100vw;
    overflow: hidden;
}
.Home-bg{
    background-image: url("/public/Images/headerbannertab.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.Title{
    font-family: 'Raleway',sans-serif;
    letter-spacing: 0.1em;
    color: white;
    margin-top: 15%;
    text-align: center;
}
.Title>h1{
    line-height: 0.5rem;
    font-weight: 400;
    color: #F7D05A;
    margin-left: 1.5%;
    font-size: 2.5rem;
}
.buttons{
    margin-top: 15%;
    justify-content: center;
    display: flex;
    gap: 10%;
}.Title>h2{
    font-size: 1.3rem;
}
.Title-info{
    margin-top: 10%;
    text-align: center;
    color: white;
}
.Title-info>h1{
    font-weight: bold;
    font-size: 1.5rem;
}
.Title-info>p{
    margin-left:10%;
    width: 80%;
    font-size: 1.1rem;
}
.GetinTouch{
    color: white;
    font-weight: 600;
    border: 0.5rem solid #FB6F77;
    border-radius: 0.5em;
    font-size: 1.1rem;
    background-color: #FB6F77;
}
.GetinTouch:hover{
    color: #6400C2;
    background-color: white ;
    border-color: white;
}
.Info-para{
    font-size: 1rem;
}
.News-Container{
    padding:5% 2%;
    border-radius: 0.2em;
    padding-bottom: 12%;
}
.slider-card>img{
    border-radius: 0.5em;
    width: 200vw;
    height:200vh  ;
    object-fit: cover;
}
.Slider-card{
    margin-left: 7%;
    display: grid;
    grid-template-columns: 200px 200px 200px 10px;
}
.News-Highlight{
    text-align: center;
}
.News-Container{
    background:linear-gradient(
        to bottom,
        #ffffff 0%,
        #ffffff 53%,
        #BD2BE2 53%,
        #BD2BE2 100%
    );
}
.News-Head{
    display: block;
}
.News-Head>h2{
    color: #FB6F77;
    font-size:2rem;
    text-align: center;
    height: 1rem;
}
.News-Head>hr{
    width: 15vw;
    border:0.1rem solid #543D4B ;
    background-color: #543D4B;
}
.News-Content{
    margin-left: 2%;
    width: 96%;
}
.Slider-down{
    margin-top: 5%;
}

.Image-Banner-1{
    margin: -4% 0%;
    color: black;
    background-color: #543D4B;
    width: 100%;
    font-size: 32px;
    height: 500px;
    background-image: url("/public/Images/background-head1.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;    
}
.Image-Banner-2{
    margin: -4% 0%;
    color:white;
    background-color: #543D4B;
    width: 100%;
    font-size: 32px;
    height: 500px;
    background-image: url("/public/Images/banner1.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}
.banner{
    text-align: left;
    padding: 20% 5%;
}
.banner-fade{
    background-color: #543D4B;
}

.footer{
    position:sticky;
    bottom: 0;
    z-index: -1;
}
.Image-Banner{
    height:400px;
}

.Image-Banner>img{
    width: 100%;
}
.Image-Banner>img:hover{
    opacity: 0.8;
}
.Counter{
    background-color: #E948AD;
    opacity: 0.7;
}
.downbutton{
    justify-content: center;
    margin-top: 30%;
    text-align: center;
    font-size: 2rem;
    font-family: 'Raleway',sans-serif;
    color: white;
}
.downbutton:hover{
    color: #ffca2b;
}
@media only screen and (min-width:600px){
    
}
@media only screen and (min-width:768px){

}
@media only screen and (min-width:992px){

}
@media only screen and (min-width:1200px){
    .Home-bg{
        background-image: url("/public/Images/headerbanner.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    .News-Highlight{
        width: 70vw;
        margin-left: 12%;
    }
    .News-Head{
        width: 70vw;
        margin-left: 15%;
    }
    .Title{
        width: 60%;
        justify-content: center;
        margin-top: 12%;
    }
    .Title>h1{
        font-size: 50px;
    }
    .Title>h2{
        font-size: 25px;
    }
    .Image-Banner-1{
        height: 50vh;
        background-position:center;
    }
    .Image-Banner-2{
        height: 50vh;
        background-position: top;
    }
    
    .banner{
        width: 50vw;
        text-align: center;
        padding: 10% 25%;
    }
    .Title-info{
        width: 70%;
        text-align: left;
        margin-left: 25%;
        margin-top: 5%;
    }
    .Title-info>p{
        margin-left:-12% ;
        text-align: center;
        width: 40vw;
    }
    .News-Highlight{
        text-align: center;
    }
    .News-Container{
        height: 60vh;
        background:linear-gradient(
            to bottom,
            #ffffff 0%,
            #ffffff 65%,
            #BD2BE2 65%,
            #BD2BE2 100%
        );
    }
    .News-Head{
        margin-top: 5%;
    }
    .News-Head>hr{
        width: 10vw;
    }
    .News-Content{
        margin: 1% 25%;
        width: 50vw;
    }
    .buttons{
        justify-content: left;
        margin: 5% 20%;
    }
    .downbutton{
        margin-top: 12%;
    }
}
@media only screen and (max-width:600px){
    .Home-bg{
        background-position: bottom;

    }
    .Title{
        width: 100%;
        margin-top: 35%;
        text-align: center;

    }
    .Title>h1{
        width: 100%;
        height: 10px;
        font-size: 40px;
    }
    .Title>h2{
        width: 100%;
        font-size: 20px;
    }
    .Title-info{
        text-align: center;
        margin-top: 20%;
    }
    .Title-info>p{
        width: 80%;
    }
    .Image-Banner-1{
        font-size: 20px;
        margin: -7% 0%;
        height: 300px;

    }
    .Image-Banner-2{
        font-size: 20px;
        margin: -7% 0%;
        height: 300px;
    }
    .banner{
        padding:20% 5% ;
    }
    
}