
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown{
    z-index: 98;
    position: fixed;
    height: 88vh;
    top: 5.5vh;
    left: 1.5rem;
    padding-top: 5%;
    text-align: left;
    width: 95vw;
    opacity: 100%;
    background-color: whitesmoke;
}

.dropdown-cont>li{
    margin-top: 5%;
    font-family: 'Raleway',sans-serif;
    font-weight:800;
    list-style: none;
    font-size: 3rem;
    padding: 1% 0%;
}
.dropdown-cont>li:hover{
    color: #BD2BE2;
}
.dropdown-link{
    width:30vw;
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    list-style: none;
}
.dropdown-link>li:hover{
    color: #BD2BE2;
}
.navbar-link{
    color: #000;
}
.navbar-link:hover{
    color: #BD2BE2;
}
.dropdown-link>hr{
    display: inline-block;
    background-color: black;
    width: 30vw;
}
.cont-desc{
    display: inline-block;
    font-size: 1.5rem;
    width: 50vw;
    margin-left: 10%;
    text-align: left;
    font-weight: 400;
}
.dropbtn{
    background-color: transparent;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    border: none;
}
.dropbtn-nav{
    background-color: transparent;
    color: #BD2BE2;
    font-size: 15px;
    font-family: 'Raleway',sans-serif;
    font-weight: 500;
    border: none;
}
 
.dropbtn:hover{
    color: lightgray;
}
.dropbtn-nav:hover{
    color: #FB6F6F;
}

@media only screen and (min-width:1200px){
    .dropdown{
        left:3rem;
        height:82vh
    }
    .dropdown-cont>li{
        margin-top: 2%;
    }

    .dropdown-link{
        width:15vw;
    }
    .dropdown-link>li{
        font-size: 1.5rem;
    }
    .dropdown-link>hr{
        width: 15vw;
        font-size: 1.6rem;
    }
    .cont-desc{
        line-height: 0rem;
    }
    .dropdown-cont>li{
        line-height: 0rem;
    }
}
@media only screen and (max-width:600px){
    .cont-desc{
        display: none;
    }
    .dropdown{
        position: fixed;
        width: 90vw;
        height: 85vh;
        margin: 5% 0% 
    }
    .dropdown-cont{
        margin-left: -12%;
    }
    .dropdown-cont>li{
        width: 85vw;
        margin: 15% 5%;
        text-align: center;
    }
    .dropdown-cont>li:active{
        background-color: #BD2BE2;
    }
    .navbar-link{
        font-size: 3rem;
    }
}