.modal{
    position: fixed;
    left: 0;
    top:0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: rgba(126, 126, 126, 0.897);
}
.center{
    margin-top: 2%;
}

.center>img{
    width: auto;
    max-width: 100%;
    height: auto;
    max-height:900px;
    display: block;
    box-sizing:border-box;
    padding: 20px 0 20px ;
    margin: 0 auto;
}
.modal>button{
    background-color: transparent;
    border: 10px solid transparent;
    font-size: 25px;
    border-radius: 1px;
    color: white;
    position:absolute;
    margin-left:95% ;
}
.modal>button:hover{
    border-color: lightgray;
    color: black;
    background-color: lightgray;
}