.modal{
    position: fixed;
    left: 0;
    top:0;
    z-index: 99;
    width: 100%;
    height: 1500px;
    background-color: rgba(126, 126, 126, 0.897);
}
.modal>img{
    margin: 30% 8%;
    width: 85%;
}
.modal>button{
    background-color: transparent;
    border: 10px solid transparent;
    font-size: 25px;
    border-radius: 25px;
    color: white;
    position: fixed;
    top: 10%;
    right:10%;
}
.modal>button:hover{
    border-color: lightgray;
    color: black;
    background-color: lightgray;
}