.Navbar-container{
    width: 100vw;
    opacity: 95%;
    height: 5vh;
    background-color: white;
    /* background-color: transparent; */
    display: flex;
    gap:30%;
    align-items: center;
    top:0;
    z-index: 99;
    position: fixed;
    letter-spacing: 0.08rem;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 0.2em 0.1em 0 rgba(0,0,0,.2);
}

.Nav{
    width: 100vw;
    height: 5vh;
    background-color: transparent;
    display: flex;
    gap:30%;
    align-items: center;
    top:0;
    z-index: 99;
    position: fixed;
    font-weight: 400;
    letter-spacing: 0.08rem;
    font-family: 'Raleway', sans-serif;
}
.Nav>h1{
    font-size: 1em;
    width:15vw; 
    text-align: center;
}
.Navbar-container>h1{
    font-size: 1em;
    width:15vw; 
    text-align: center;
}
/* .about-Navbar>h1{
        width: 20%;
        font-size: 20px;
        margin-left:2%;
} */
.home-link{
    font-family: 'Raleway',sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
}
.home-link-nav{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #BD2BE2;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
}
.home-link-nav:hover{
    color: #E948AD;
}
.home-link:hover{
    color: lightgray;
}
.Navbar-list{
    /* color: white; */
    color: white;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
}
.Navbar-list-nav{
    /* color: white; */
    color: #BD2BE2;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 0.2rem;
    font-size: 0.9rem;
    font-weight: 500;
}
.Navbar-list-nav:hover{
    color: #E948AD;
}


.links{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.navbar-link-nav{
    text-decoration: none;
    list-style: none;
    /* color: white; */
    color: #BD2BE2;
}
.navbar-link{
    text-decoration: none;
    list-style: none;
    /* color: white; */
    color: white;
}
.N-socials{
    font-size: 1.1rem;
    font-weight: 600;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.socials{
    font-size: 1.1rem;
    font-weight: 600;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.navbar-link:hover{
    color: lightgray;
}

.navbar-link-nav:hover{
    color: #E948AD;
}
.menu{
    display:none;
}
.menunot-nav{
    display: none;
}
/* Iphone SE 2nd gen iOs=> Landscape */
@media only screen and (min-width:600px){
    .home-link{
        text-align: center;
        width: 10vw;
    }
    .home-link-nav{
        text-align: center;
        width: 30vw;
    }
    .Nav{
        height: 12vh;
        width: 100vw;
        gap: 12%;
    }
    .Navbar-container{
        height: 12vh;
        width: 100vw;
        gap: 12%;
    }
    .Navbar-list-nav{
        font-size: 0.8rem;
    }
    .Navbar-list{
        font-size: 0.8rem;
    }
    .socials{
        font-size: 0.5rem;
    }
    .N-socials{
        font-size: 0.5rem;
    }
}
@media only screen and (min-width:992px){
    .Nav{
        width: 100vw;
        gap: 36%;
    }
}
@media only screen and (min-width:1200px){
    .Nav{
        gap: 15%;
    }
    .Nav>h1{
        font-size: 20px;
        width:20%; 
        margin-left:20%;
    }
    
    .Navbar-container{
        gap: 15%;
    }
   
    .Navbar-container>h1{
        font-size: 20px;
        width:20%; 
        margin-left:20%;
    }
}
@media only screen and (max-width:600px){
    .Nav{
        width: 100vw;
        gap: 80%;
    }
    .Nav>h1{
        font-size: 10px;
        width:10%; 
    }.home-link{
        font-size: 20px;
    }
    .home-link-nav{
        font-size: 20px;
    }

    .Navbar-container{
        width: 100%;
        gap: 80%;
    }
    .Navbar-container>h1{
        font-size: 10px;
        width:10%; 
    }
    .Navbar-list{
        gap: 0rem;
        display: block;
        font-size: 15px;
    }
    .Navbar-list-nav{
        display: block;
        gap: 0rem;
        font-size: 15px;
    }
    .Navbar-list>ul:hover{
        display: none;
    }
    .menu{
        width: 10%;
        display: block;
        margin-top: 50%;
        justify-content: center;
    }
    .menu-nav{
        width: 10%;
        display: block;
        margin-top: 50%;
        justify-content: center;
    }
    .Navbar-list>ul{
        display: none;
    }
    .Navbar-list-nav>ul{
        display: none;
    }
    .menunot-nav{
        display: none;
    }
    .menubar-nav{
        position: absolute;
        z-index: 98;
        top: 85%;
        left: 75%;
        margin-top: 2%;
        display: block;
        width: 25%;
        background-color: blueviolet;
        height:1000px;
    }
    .menubar-nav>ul{
        text-align: left;
        width: 40%;
        list-style: none;
    }
    .menubar-nav>ul>li{
        margin-top: 40%;
        margin-left: -30%;
    }
    .menubar-nav>ul>li:active{
        padding: 5%;
        background-color: #E948AD;
    }
    .navbar-link{
        width: 100%;
        font-size: 25px;
    }

}
/* @media only screen and (min-width:992px){

}
@media only screen and (max-width:320px){

} */