.N-Navbar-Container{
    width: 100vw;
    opacity: 95%;
    height: 5vh;
    background-color: #BD2BE2;
    /* background-color: transparent; */
    display: flex;
    /* gap:30%; */
    align-items: center;
    top:0;
    z-index: 99;
    position: fixed;
    letter-spacing: 0.05rem;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 0.2em 0.1em 0 rgba(0,0,0,.2);
}

.N-Nav{
    width: 100vw;
    height:5vh;
    background-color: transparent;
    display: flex;
    /* gap:30%; */
    align-items: center;
    top:0;
    z-index: 99;
    position: fixed;
    font-weight: 400;
    letter-spacing: 0.05rem;
    font-family: 'Raleway', sans-serif;
}
.N-Nav>h1{
    font-size: 1em;
    width:15vw; 
    text-align: center;
}
.N-Navbar-Container>h1{
    font-size: 1em;
    width:15vw; 
    
    text-align: center;
}
.N-home-link{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    /* color: white; */
    color: #BD2BE2;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
}
.N-home-link-nav{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    /* color: white; */
    color: white;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
}
.N-home-link-nav:hover{
    color: lightgray;
}
.N-home-link:hover{
    color: #E948AD;
}
.N-Navbar-List{
    /* color: white; */
    color: #BD2BE2;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
}
.N-Navbar-List-nav{
    /* color: white; */
    color: white;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 0.05rem;
    font-size: 0.9rem;
    font-weight: 500;
}
.N-Navbar-List-nav:hover{
    color: lightgray;
}


.links{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.N-navbar-link-nav{
    text-decoration: none;
    list-style: none;
    /* color: white; */
    color: white;
}
.N-navbar-link{
    text-decoration: none;
    list-style: none;
    /* color: white; */
    color: #8A2BE2;
}

.N-navbar-link:hover{
    color: #E948AD;
}

.N-navbar-link-nav:hover{
    color: black;
}
.menu-bar{
    position: absolute;
    right: 3rem;
 }
 /*
 .menubar-nav{
     display: none;
 }
 .menubar-nav>ul{
     display: none;
 }*/
 .menunot-nav{
     display: none;
 }

/* 
@media only screen and (min-width:600px){
    .N-home-link{
        text-align: center;
        width: 10vw;
    }
    .N-home-link-nav{
        text-align: center;
        width: 30vw;
    }
    .N-Nav{
        height: 5vh;
        width: 100vw;
        gap: 12%;
    }
    .N-Navbar-Container{
        height: 5vh;
        width: 100vw;
        gap: 12%;
    }
    .N-Navbar-list-nav{
        font-size: 0.8rem;
    }
    .N-Navbar-list{
        font-size: 0.8rem;
    }
    .socials-nav{
        font-size: 1rem;
    }
    .N-socials{
        font-size: 1rem;
    }
    
} */
@media only screen and (min-width:768px){

}
@media only screen and (min-width:992px){

}
@media only screen and (min-width:1200px){
    .N-Nav{
        gap: 38%;
    }
    .N-Navbar-List{
        color: #BD2BE2;
        align-items: center;
        text-align: center;
        display: flex;
        gap: 3rem;
        font-size: 15px;
        font-weight: 500;
    }
    .N-Navbar-List-nav{
        /* color: white; */
        color: white;
        align-items: center;
        text-align: center;
        display: flex;
        gap: 1rem;
        font-weight: 500;
    }
    .N-Nav>h1{
        font-size: 20px;
        width:20%; 
        margin-left:20%;
    }
    
    .N-Navbar-Container{
        gap: 38%;
    }
   
    .N-Navbar-Container>h1{
        font-size: 20px;
        width:20%; 
        margin-left:20%;
    }
    .menu-bar{
        position: relative;
    }
}
@media only screen and (max-width:600px){
    .N-Nav{
        width: 100vw;
        gap: 95vw;
    }
    .N-home-link{
        font-size: 1rem;
    }
    .N-home-link-nav{
        font-size: 1rem;
    }
    .N-Navbar-Container{
        width: 100vw;
        gap: 95vw;
    }
    .N-Navbar-Container>h1{
        font-size: 0.8rem;
        width:10%; 
    }
    .N-Navbar-list{
        gap: 0rem;
        display: block;
        font-size: 1.2rem;
    }
    .N-Navbar-list-nav{
        display: block;
        gap: 0rem;
        font-size: 15px;
    }
    .menu{
        width: 10%;
        display: block;
        padding-top: 50%;
        justify-content: center;
    }
    .menu-nav{
        width: 10%;
        display: block;
        margin-top: 60%;
        margin-left: 10%;
        justify-content: center;
    }
    .N-Navbar-List-nav>ul{
        display: none;
    }
    .N-Navbar-List-nav>ul{
        display: none;
    }
    .navbar-link{
        width: 100%;
        font-size: 25px;
    }

}