.N-Navbar-Container{
    width: 100%;
    opacity: 95%;
    height: 64px;
    background-color: #BD2BE2;
    /* background-color: transparent; */
    display: flex;
    gap:25%;
    align-items: center;
    top:0;
    z-index: 99;
    position: fixed;
    letter-spacing: 0.6px;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
}

.N-Nav{
    width: 100%;
    height: 64px;
    background-color: transparent;
    display: flex;
    gap:25%;
    align-items: center;
    top:0;
    z-index: 99;
    position: fixed;
    font-weight: 400;
    letter-spacing: 0.6px;
    font-family: 'Raleway', sans-serif;
}
.N-Nav>h1{
    font-size: 20px;
    width:20%; 
    margin-left:2%;
}
.about-Navbar>h1{
        width: 20%;
        font-size: 20px;
        margin-left:2%;
}
.N-home-link-nav{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    /* color: white; */
    color: white;
    font-size: 22px;
    text-align: center;
    font-weight: 300;
}
.N-home-link-nav:hover{
    color: lightgray;
}
.N-Navbar-Container>h1{
    width: 20%;
    font-size: 20px;
    margin-left:2%;
}
.N-home-link{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    /* color: white; */
    color: #BD2BE2;
    font-size: 22px;
    text-align: center;
    font-weight: 300;
}
.N-home-link:hover{
    color: #E948AD;
}
.N-Navbar-List-nav{
    /* color: white; */
    color: white;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 3rem;
    font-size: 15px;
    font-weight: 500;
}
.N-Navbar-List-nav:hover{
    color: lightgray;
}

.N-Navbar-List{
    /* color: white; */
    color: #BD2BE2;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 3rem;
    font-size: 15px;
    font-weight: 500;
}
.links{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.N-navbar-link-nav{
    text-decoration: none;
    list-style: none;
    /* color: white; */
    color: white;
}
.N-navbar-link{
    text-decoration: none;
    list-style: none;
    /* color: white; */
    color: #8A2BE2;
}
.N-socials{
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.N-navbar-link:hover{
    color: #E948AD;
}

.N-navbar-link-nav:hover{
    color: lightgray;
}
@media only screen and (min-width:1100px){
    .N-Nav{
        gap: 15%;
    }
    .N-Nav>h1{
        font-size: 20px;
        width:20%; 
        margin-left:20%;
    }
    .N-Navbar-Container{
        gap: 15%;
    }
    .N-Navbar-Container>h1{
        font-size: 20px;
        width:20%; 
        margin-left:20%;
    }
}