.Work-Header{
    background-color: #543D4B;
    padding: 10% 0%;
    color: white;
}
.Work-Header{
    background-image: url("/public/Images//bannerheader\ all\ tab.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.Work-Head-Content>h1{   
    font-size: 36px;
    color: #F7D05A;
}
.Work-Head-Content{
    text-align: center;
}
.Work-Head-Content>hr{
    border: 1px solid #FB6F77;
    background-color:#FB6F77 ;
    width: 15%;
}
.Work-Head-Content>h3{
    font-family: 'Raleway', sans-serif;
    margin: 5% 10%;
    font-size: 25px;
    font-weight: 300;
}
.Case-Studies{
    padding: 5%;
    height: 1100px;
    padding-bottom:100% ;
    background-color: #F7D05A;
}
.card-case{
    border-radius: 5px;
    width: 80%;
    height: 2150px;
    position: absolute;
    top: 40%;
    left: 5%;
    background-color: white;
    padding:5% ;
}
.card-case>div>img{
    background-color: lightgray;
    border-radius: 5px;
    height: 350px;
    width: 50%;
    margin-left: 5%;

}
.card-case>div{
    text-align: center;
}
.card-case>div>h4{
    color: #8A2BE2;
}
@media only screen and (min-width:1100px){
    .Case-Studies{
        padding: 5%;
        height: 2150px;
    }
    .card-case{
        width: 50%;
        top: 65%;
        left: 20%;
        padding:5% ;
    }
    .Work-Head-Content>h3{
        margin: 5% 25%;
    }
    .Work-Head-Content>h1{   
        font-size: 40px;
        line-height: 5px;
    }
    .card-case>div>img{
        width: 40%;
        margin-left: 0%;
    
    }
    .card-case>div>h4{
        margin: 2% 10%;
        width: 80%;
    }
    .Work-Header{
        background-image: url("/public/Images/header\ banner\ all\ desk.jpg");
    
    }
}
@media only screen and (max-width:600px){
    .Case-Studies{
        padding: 5%;
        height: 2600px;
    }
    .card-case{
        width: 80%;
        top: 30%;
        left: 20;
        height: 2500px;
    }
    .card-case>div>img{
        width: 100%;
        margin-left: 0%;
    
    }
}