.Work-Header{
    background-color: #543D4B;
    padding: 10% 0%;
    width: 100vw;
    height: 30vh;
    color: white;
}
.Work-Header{
    background-image: url("/public/Images//bannerheader\ all\ tab.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.Work-Head-Content>h1{   
    font-size: 2.3rem;
    color: #F7D05A;
}
.Work-Head-Content{
    text-align: center;
}
.Work-Head-Content>hr{
    border: 0.1em solid #FB6F77;
    background-color:#FB6F77 ;
    width: 15vw;
}
.Work-Head-Content>h3{
    font-family: 'Raleway', sans-serif;
    margin: 5vh 10vw;
    font-size: 1.5rem;
    font-weight: 300;
}
.Case-Studies{
    padding: 5%;
    height: 80em;
    padding-bottom:100% ;
    background-color: #F7D05A;
}
.card-case{
    border-radius: 0.2em;
    width: 80vw;
    height: 135em;
    position: absolute;
    margin-top:-15% ;
    background-color: white;
    padding:5% ;
}
.card-case>div>img{
    background-color: lightgray;
    border-radius: 0.2rem;
    width: 50vw;
    margin-left: 5%;

}
.card-case>div{
    text-align: center;
}
.card-case>div>h4{
    color: #8A2BE2;
}
@media only screen and (min-width:600px){
    
}
@media only screen and (min-width:768px){

}
@media only screen and (min-width:992px){

}
@media only screen and (min-width:1200px){
    .Case-Studies{
        padding: 5%;
        height: 300vh;
    }
    .card-case{
        position: absolute;
        margin-top: -15%;
        margin-left: 15%;
        width: 50vw;
        height: 300vh;
        padding:5% ;
    }
    .Work-Head-Content>h3{
        margin: 5% 25%;
    }
    .Work-Head-Content>h1{   
        font-size: 2.5rem;
        line-height: 0.2em;
    }
    .card-case>div>img{
        width: 40vw;
        margin-left: 0%;
    
    }
    .card-case>div>h4{
        margin: 2% 10%;
        width: 80%;
    }
    .Work-Header{
        background-image: url("/public/Images/bannerheader\ all\ tab.jpg");
    
    }
}
@media only screen and (max-width:600px){
    .Case-Studies{
        
        padding: 5%;
        height: 2600px;
    }
    .card-case{
        width: 80%;
        top: 30%;
        left: 20;
        height: 2500px;
        margin-top:20%;
    }
    .card-case>div{
        padding: 10% 0%;
    }
    .card-case>div>img{
        width: 100%;
        margin-left: 0%;
    
    }
}
@media only screen and (max-width:360px){
    .Case-Studies{
        
        padding: 5%;
        height: 320vh;
    }
    .card-case{
        margin-top:30%;
    }
    .Work-Header{
        height: 40vh;
    }
}