.service-box{
    position: relative;
    overflow-y: scroll;
    max-height: 620px;
    width: 850px;
    z-index: 2;
    margin: 5% 10%;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fill,minmax(350px ,1fr));
    row-gap: 2rem;
}
.service-box::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
    background-color: #543d4b28;
}
.service-box::-webkit-scrollbar-thumb{
    background-color: #F7D05A;
    border-radius: 10px;
}

.service-card-box{
    z-index: 2;
    width: 70%;
    height: 250px;
    border: 2.5px solid #FB6F77;
    border-radius: 5px;
    padding: 2% 2% 2%;
    background-color: #543D4B;
    color: white;
}
.service-card-box>h3{
    margin-top: 1%;
    letter-spacing: 2px;

}
.service-card-box>img{
    width: 15%;
}

.our-services{
    z-index: 0;
    position:absolute;
    width: 80%;
    height: 800px;
    top: 100%;
    border-radius: 5px;
    color: #543D4B;
    background-color:white;
    padding: 5% 6%;
}
.service-container{
    height: 800px;
    width: 90%;
    padding: 1% 5%;
    background-color: #F7D05A;
}
.service-info>p{
    font-size: 20px;
}
.service-info>hr{
    border: 1.5px solid #FB6F77;
    background-color: #FB6F77;
    width: 15%;
}
.service-info{
    text-align: center;
}
@media only screen and (min-width:1100px){
    .our-services{
        width: 50%;
        height: 750px;
        margin:0% 15% ;
    }
    .service-container{
        height: 900px;
        padding: 2% 5%;
    }
    .service-box{
        width: 65%;
        margin: 4% 20%;
        gap: 2rem;
        row-gap: 3rem;
    }
}
@media only screen and (max-width:600px){
    .our-services{
        width: 80%;
        height: 750px;
        top: 100%;
    }
    .service-container{
        height: 750px;
        padding: 2% 5%;
    }
    .service-box{
        width: 90%;
        margin: 2% 5%;
        max-height: 600px;
        gap: 2rem;
        row-gap: 3rem;
    }
    .service-info>hr{
        width: 30%;
    }
    .service-card-box{
        width: 50%;
        height: 220px;
        margin: 0% 25%;
    }
}